@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0px;
  font-size: 20px;
}

p {
  font-size: 12px
}

header {
  width: 100%;
  height: 50px;
  background: lightgray;
  position: fixed;
}

header img {
  width: 35px;
  margin: 6px;
  margin-left: 16px;
}

header nav {
  display: block;
  float: right;
}

#logo {
  width: 100px;
}

header nav ul li {
  display: inline;
  margin: 16px;
  font-family: "Montserrat";
  font-size: 12px;
}

section {
  width: 70%;
  margin: auto;
  font-family: "Montserrat"
}

section h1 {
  text-align: center;
  margin-bottom: 20px;
}

article {
  background: lightgray;
  padding: 10px;
  border-radius: 4px;
}

article:first-child {
  margin-top: 50px;
}

article {
  margin-bottom: 16px;
}

article a {
  transition: all 1s;
  text-decoration: none;
  color: salmon;
  margin-bottom: 10px;
  display: inline-block;
}

article a:hover {
  text-decoration: underline
}


footer {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background: lightgray;
  height: 50px;
  font-family: "montserrat";
  align-items: center;
  padding-left: 10px;
}

h5 {
  font-size: 12px;
}